.scroll-float {
	position: relative;
	display: block;
}

.scroll-float-text {
	display: inline-block;
	white-space: pre-wrap;
}

.scroll-float .char {
	display: inline-block;
	will-change: opacity, transform;
}


